* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} /*font family for the whole website is the same*/

body {
    background-color: #c2dcea;
}

.header { 
    padding: 15px 15px 15px 0px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #9b55dd;
}


.header h1 {
    display: inline-block;
    font-size: 40px;
    background-color: white;
    color: #9b55dd;
    padding: 5px 10px 5px 30px;
}


.header nav {
    padding-top: 15px;
    margin-right: 20px;
    font-size: 20px;
}


.header nav ul {
    list-style-type: none;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;   
}


.header nav ul li {
    margin-left: 25px;
}

a {
    color: #ffffff;
}

a.highlight:hover {
    color:#9b55dd;
    background-color: white;
    padding: 3px;
}

.hero {
    width: 100%;
    height: 225px;
    position: relative;
    display: flex;
    justify-content: end;
    align-items: end;
    background-image: url('../images/EvxICgjWQAMqIo6.jpeg');
    background-position: center;
    object-fit: cover;
}


.bottom-right { 
    position: absolute;
    bottom: 15px;
    right: 50px;
    font-size: 25px;
    background-color: white;
    color: #9b55dd;
    padding: 5px 10px;
}


.contents {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
    border-left: solid#9b55dd 5px;
    gap: 10px 10px; 
    justify-content: space-between;
    margin-bottom: 1em;
}

p + p {
    margin-top: 1em;
} 


main {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.content-header {
    width: 40%;
    display: flex;
    margin-left: 150px;
    padding-right: 15px;
    text-align: right;
}

.big-box {
    display: flex;
    width: 100%;
    height: 300px;
    position: relative;
    background-image: url("../images/Screen\ Shot\ 2022-08-24\ at\ 11.10.46\ PM.png");
    background-size: cover;
    background-position: center;
    justify-content: end;
    align-items: flex-start;
    border: solid white 4px
}
.big-box:hover { /*img becomes slightly bigger, changes opacity when the cursor hovers over*/
    opacity: 0.7;
    cursor:pointer;
    transform: scale(1.01);
  }

.smaller-pics { /*grouping style code together for smaller imgs in Work section*/
    width: 49%;
    height: 150px;
    display: flex;
    position: relative;
    background-size: cover;
    justify-content: end;
    align-items: flex-start;
    border: solid white 4px;
    
}
.smaller-pics:hover { /*img becomes slightly bigger, changes opacity when the cursor hovers over*/
    opacity: 0.7;
    cursor:pointer;
    transform: scale(1.02);
  }

#LED-Wall {
    background-image: url("../images/01.jpeg");
}

#Calculator {
    background-image: url("../images/02.jpeg");
}

#Pastel-Puzzles {
    background-image: url("../images/03.jpeg");
}

#Run-Buddy {
    background-image: url("../images/04.jpeg");
}

section {
    display: flex;
    flex-direction: column;
    
}

.txt-in-pic {
    background-color: white;
    color:#9b55dd;
    margin-bottom: 15px;
    padding: 5px;
}


.container-header {
    width: 20%;
    text-align: right;
    padding-right: 15px;
    color: #9b55dd;
    font-size: 25px;
}

.Find-Me {
    list-style-type: none;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 20px;
    color:#c594f3;
    padding-bottom: 2em;
    margin-top: 0.8em;
}


  /* Header & nav bar are stacked in column and centered; section headers are positioned above contents at 992px or smaller */
  @media screen and (max-width: 992px) {
    .header {
        flex-direction: column;
        text-align: center;
        width: 100%;
        align-items: center;
        padding: 0px 0px 5px 0px;
    }

    .header div {
        width: 100%;
        background-color: #ffffff;
    }


    .contents {
        float: none;
        width: 100%;
        padding-top: 10px;
        padding-left: 0px;
        border-left: none;
    }

    .smaller-pics{
        width: 49%;
        display: flex;
        flex-wrap: wrap;
    }

    .stuff {
        flex-direction: column;
        padding-right: 45px;
        padding-left: 45px;
   }
   .container-header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    border-bottom: solid#9b55dd 5px;
   }
} 
  


/* Images are stacked in a column; items in Contac Me are also stacked in a column at 768px or smaller */
  @media screen and (max-width: 768px) {
    .smaller-pics{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    
    .Find-Me {
    flex-direction: column;
    align-items: flex-start;
    
    }

.hero {
    flex-direction: column;
    text-align: center;
    width: 100%;
    align-items: center;
}
    .bottom-right {
    flex-direction: row;
    align-items: center;
    }

  }